[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git://github.com/mattn/emmet-vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/dart-vim-plugin"]
	path = bundle/dart-vim-plugin
	url = git://github.com/dart-lang/dart-vim-plugin.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = git://github.com/morhetz/gruvbox.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gocode"]
	path = bundle/vim-gocode
	url = git://github.com/Blackrush/vim-gocode.git
[submodule "bundle/vim-lawrencium"]
	path = bundle/vim-lawrencium
	url = git://github.com/ludovicchabant/vim-lawrencium.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/php.vim"]
	path = bundle/php.vim
	url = git://github.com/StanAngeloff/php.vim.git
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = git://github.com/rizzatti/dash.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-visualstar"]
	path = bundle/vim-visualstar
	url = git://github.com/thinca/vim-visualstar.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = git://github.com/rking/ag.vim.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/omnisharp-vim"]
	path = bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/cake16"]
	path = bundle/cake16
	url = git://github.com/zefei/cake16
[submodule "bundle/seoul256.vim"]
	path = bundle/seoul256.vim
	url = git://github.com/junegunn/seoul256.vim.git
[submodule "bundle/vim-nefertiti"]
	path = bundle/vim-nefertiti
	url = git://github.com/jeetsukumaran/vim-nefertiti.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
