[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git://github.com/mattn/emmet-vim.git
